@page "/uc"
<h3>UseComponent</h3>
<CascadingValue Value="@("red")">
    <CascadingValue Value="42" Name="Universum" TValue="int">
    <ParameterComponent Titel="Hallo Welt"
                        width="100px" heigth="200px" style="background-color:silver">
        <input />
        <button>save</button>
    </ParameterComponent>
</CascadingValue>
</CascadingValue>
<CardComponent>
    <Header>toler html</Header>
    <Body>auch tolll</Body>
</CardComponent>
@code {
    
}
