@page
@model BlazorServerVivida.Pages.Modul5.IndexModel
@{
}
<form method="post">
    <input name="eins" /><br />

    <input type="datetime-local" /><br />
    <input required="required" />
    <input type="range" min="0" max="10" />
     <button type="submit">submit</button>
    
</form>